In [1]:
import pandas as pd
import numpy as np

# read CSV Profesi.csv

In [4]:
df = pd.read_csv('profesi.csv', delimiter='|')
df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### 1. Ada berapa jenis profesi yang ada dalam dataset tersebut? Sebutkan!

In [12]:
nProfesi = df.occupation.nunique()
nProfesi
print(f"ada {nProfesi} jenis profesi dalam dataset")

ada 21 jenis profesi dalam dataset

In [13]:
macamProfesi = list(df.occupation.unique())
macamProfesi
print(f"Daftar profesinya adalah : {macamProfesi}")

Daftar profesinya adalah : ['technician', 'other', 'writer', 'executive', 'administrator', 'student', 'lawyer', 'educator', 'scientist', 'entertainment', 'programmer', 'librarian', 'homemaker', 'artist', 'engineer', 'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor']

### 2. Buatlah sebuah dataframe yang menunjukkan data usia maksimal, minimal & rata-ratanya, berdasarkan profesi & gender!

In [14]:
df2 = df.pivot(index=["occupation","gender"], column="")
df2

KeyError: 'None of [None] are in the columns'